
.MessageCanvas {
  width: 100%;
  height: 100%;
  margin-top: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.MessageCanvas_Bottom {
  height: 0.1rem;
}

.Message {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;

  transition: background-color 200ms ease;
}

.Message_Left {
  margin: 0.5rem;
}

.Message_Right {
  margin-left: 1rem;
  align-self: center;
}

.Message_Right_Header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Message_Edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Message_Name {

}

.Message_Timestamp {
  margin-left: 5px !important;
}

.Message_Content {

}

.Message_Embed {
  height: 18rem;
  width: 30rem;
}

.Message_Embed_Content {
  height: 100%;
  width: 100%;
  object-fit: fill !important;
}

.MessageInput {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  box-sizing: border-box;
}

.MessagesEmptyPrompt {
  text-align: center;
}
