
.MessageCanvas {
  width: 100%;
  height: 100%;
  margin-top: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.Message {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;

  transition: background-color 200ms ease;
}

.Message_Hover {
  background-color: lightgray;
}

.Message_Left {
  margin: 0.5rem;
}

.Message_Right {
  margin-left: 1rem;
  align-self: center;
}

.Message_Name {

}

.Message_Content {

}

.Message_Image {
  height: 50%;
  width: 50%;
}

.MessageInput {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  box-sizing: border-box;
}
