.ChannelView {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100%;
  padding: 0.2rem;
  margin: 0 0.5rem 0.75rem 0.5rem;
  border-radius: 15px;
  background: rgba(25, 25, 25, 0.1);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.ChannelViewTabBar {
  margin-bottom: 10px !important;
}

.ChannelsContainer {

}

.ChannelMemberListContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.ChannelMemberList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Channel, .ChannelMember {
  height: 50px;
  margin: 0.15rem 0.15rem 0.25rem 0.15rem;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  background: none !important;
  overflow: hidden;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 10px;
}

.ChannelInner, .ChannelMemberInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: none;
  box-shadow: none;
}

.ChannelInnerButtonBase, .ChannelMemberInnerButtonBase {
  width: 100%;
  height: 100%;
}

.ChannelLeft, .ChannelMemberLeft {
  margin-left: 5px;
}

.ChannelRight, .ChannelMemberRight {
  margin-left: 5px;
  padding: 5px;
  align-self: center;
}

.ChannelIcon, .ChannelMemberIcon {

}

.ChannelCaption, .ChannelMemberCaption {

}

.ChannelMessagePreview {
  font-size: smaller !important;
  color: rgb(80, 80, 80) !important;
}
