.Settings_Page_Container {

}

.Settings_Page_InnerContainer {
  padding: 1rem;
}

.Settings_Section {
  margin: 5px;
}

.Overlay {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*.Overlay:hover {
  color: #eee;
}

.Overlay:not(.Overlay:hover) {
  color: transparent;
}*/

.OverlayContainer:hover .Overlay {
  color: #eee;
}

.OverlayContainer:not(.OverlayContainer:hover) .Overlay {
  color: transparent;
}

.Settings_User_Section_Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px !important;
  border-radius: 15px !important;
}
