.AuthForm_Container {
  min-width: 20rem;
  padding: 10rem;

  background: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;
}

.Generic_Form_Item {
  margin: 5px 0px 0px 5px !important;
}

.Generic_Form_Item_Left {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-start !important;
}

.Generic_Form_Item_Right {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-end !important;
}
