.AuthForm_Container {
  width: 30%;
  padding: 10rem;

  background: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;

  transition: width 200ms ease;
}

.Generic_Form_Item {
  margin: 5px 0px 0px 5px !important;
}

.Generic_Form_Item_Left {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-start !important;
}

.Generic_Form_Item_Right {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-end !important;
}

@media screen and (min-width:800px) and (max-width: 900px) {
  .AuthForm_Container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .AuthForm_Container {
    width: 100%;
  }
}
