.AuthForm_Container {
  width: 30%;
  padding: 10rem;
  overflow-x: hidden;
  overflow-y: auto;

  background: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;

  transition: width 200ms ease;
}

.AuthForm_Link {
  cursor: pointer;
}

.Generic_Form_Item {
  margin: 5px 0px 0px 5px !important;
  min-width: 15rem !important;
  max-width: 23rem !important;
}

.Generic_Form_Item_Left {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-start !important;
}

.Generic_Form_Item_Right {
  margin: 5px 0px 0px 5px !important;
  justify-self: flex-end !important;
}

.Form_Text_Field {
  width: 100%;
}

@media screen and (min-width:800px) and (max-width: 900px) {
  .AuthForm_Container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .AuthForm_Container {
    width: 100%;
  }
}
