.Header {
  background: rgba(50, 50, 50, 0.1);
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.Header_Caption {
  overflow: hidden;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Header_Icon {
  padding: 8px;
}

.Header_IconButton {

}

.Header_Misc {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}
