.UIHeader_Container {
  background: rgba(50, 50, 50, 0.1);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.UIHeader_Icon {
  padding: 8px;
}

.UIHeader_IconButton {

}

.UIHeader_Misc {

}

.Chat_Page_Container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Chat_Page_Body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Chat_Page_Body_Left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Chat_Page_Body_Right {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.Chat_Page_Bottom {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  background: rgba(50, 50, 50, 0.1);
  width: 100%;
  align-self: flex-end;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: auto;
}

.Chat_Page_ChannelView {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  background: rgba(25, 25, 25, 0.1);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.Chat_Page_Channel {
  height: 50px;
  padding: 5px;
  margin: 0.15rem;
  position: relative;
  box-sizing: border-box;
  background: rgb(200, 200, 200);
  cursor: pointer;
}

.Chat_MessageInput {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  box-sizing: border-box;
}

.Chat_IconButton {
  width: 50px;
  height: 50px;
}

.Chat_MessageCanvas {
  width: 100%;
  height: 100%;
  margin-top: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.Chat_Message {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}

.Chat_Message_Left {
  margin: 0.5rem;
}

.Chat_Message_Right {
  margin-left: 1rem;
  align-self: center;
}

.Chat_Message_Name {

}

.Chat_Message_Content {

}

.Chat_Message_Image {
  height: 50%;
  width: 50%;
}

.Chat_Channel_Caption {
  line-height: 1 !important;
}

.Chat_Channel_Message_Preview {
  font-size: smaller !important;
  color: rgb(80, 80, 80) !important;
}
