.Chat_Page_Container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Chat_Page_Body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Chat_Page_Body_Left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Chat_Page_Body_Right {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.Chat_Page_Bottom {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  background: rgba(50, 50, 50, 0.1);
  width: 100%;
  align-self: flex-end;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: auto;
}

.Chat_IconButton {
  width: 50px;
  height: 50px;
}

