.Chat_Page_Container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Chat_Page_Header {
  background: rgba(50, 50, 50, 0.1);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Chat_Page_Body {
  display: grid;
  grid-template-rows: auto calc(88px + 4rem);
  height: 100%;
}

.Chat_Page_Bottom {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  background: rgba(50, 50, 50, 0.1);
  width: 100%;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: auto;
}

.Chat_MessageInput {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  box-sizing: border-box;
}

.Chat_IconButton {
  width: 50px;
  height: 50px;
}

.Chat_MessageCanvas {
  width: 100%;
  height: 100%;
  margin-top: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.Chat_Message {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.Chat_Message_Left {

}

.Chat_Message_Right {

}
