.Chat_Page_Container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Chat_Page_Body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Chat_Page_Body_Left {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
}

.Chat_Page_Body_Right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.Chat_Page_Bottom {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  width: 100%;
  align-self: flex-end;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: auto;
}

.Chat_IconButton {
  width: 50px;
  height: 50px;
}

.CreateChannelDialog_User_Items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.CreateChannelDialog_User_Avatar {
  display: inline;
  top: 9px;
  margin-left: 5px;
}
