@import 'pages/Auth/styles.css';
@import 'pages/Chat/styles.css';
@import 'pages/Friends/styles.css';
@import 'pages/Settings/styles.css';
@import 'components/styles.css';
@import '~react-toastify/dist/ReactToastify.min.css';

.NavigationDrawer .NavigationDrawerListTop .NavigationDrawerListBottom {
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.NavigationDrawerListTop {

}

.NavigationDrawerListBottom {
  margin-top: auto !important;
}

.NavigationDrawerBranding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 10px;
}
