@import 'pages/Auth/styles.css';
@import 'pages/Chat/styles.css';
@import 'pages/Friends/styles.css';
@import 'pages/Settings/styles.css';
@import 'components/styles.css';
@import '~react-toastify/dist/ReactToastify.min.css';

.NavigationDrawer .NavigationDrawerList {
  width: 15rem;
}

.NavigationDrawerBranding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
